body {
  background: rgb(8, 8, 33);
}

.logo {
  width: 180px;
}

#recherche {
  font-size: small;
  height: 30px;
  width: 200px;
  display: flex;
  align-self: center;
  margin-right: 10px;
}

.offres .img-thumbnail {
  width: 250px;
}

nav a {
  color: orange;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  color: #fff;
  transform: scale(1.1);
}

.bg-gradient-films {
  background: linear-gradient(90deg, #3c096c, #2d0157, #13001d);
}

.bg-gradient-series {
  background: linear-gradient(90deg, #003566, #001022);
}

.bg-gradient-docu {
  background: linear-gradient(90deg, #580c00, #1d0b0b);
}

.bg-gradient-concerts {
  background: linear-gradient(90deg, #65157a, lch(15.51% 46.57 324.2), #210024);
}

.film-img:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}
