body {
  background: rgb(13, 13, 51);
}

.logo {
  width: 150px;
}

#recherche {
  font-size: medium;
  height: 30px;
  width: 200px;
  display: flex;
  align-self: center;
  margin-right: 10px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

#recherche:focus-visible {
  outline: none;
  box-shadow: 0 0 15px 5px rgba(220, 20, 60, 0.6);
  border-radius: 5px;
}

.offres .img-thumbnail {
  width: 250px;
}

nav a {
  font-weight: bold;
  color: rgb(240, 240, 240);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  color: #c70000;
  transform: scale(1.1);
}

#films {
  height: 350px;
}
#series {
  height: 350px;
}

#documentaires {
  height: 350px;
}

#concerts {
  height: 350px;
}

#friends,
#taylor {
  height: 100px;
}

.section-custom {
  min-height: 350px;
}

.bg-gradient-films {
  background: linear-gradient(90deg, #3c096c, #2d0157, #13001d);
}

.bg-gradient-series {
  background: linear-gradient(90deg, #003566, #001022);
}

.bg-gradient-docu {
  background: linear-gradient(90deg, #580c00, #1d0b0b);
}

.bg-gradient-concerts {
  background: linear-gradient(90deg, #65157a, lch(15.51% 46.57 324.2), #210024);
}

.film-img {
  width: 23%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.film-img:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

#series img {
  height: 180px;
}

#films a,
#series a,
#documentaires a,
#concerts a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  text-decoration: none;
}

#films a img,
#series a img,
#documentaires a img,
#concerts a img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.titreOffre {
  color: orangered;
  font-weight: bold;
}
/* ======================= PAGE JE SUIS UNE LEGENDE ======================== */

#backgroundIMG {
  background-image: url("/images/JEsuisBG.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
  color: white;
}

#synopsis {
  background: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  width: 40%;
  border-radius: 10px;
}

#synopsis h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#synopsis p {
  font-size: 1rem;
  line-height: 1.5;
}

#infos {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

#synopsis .btn {
  width: 25%;
}
