body {
  margin: 0;
  padding: 0;
  background: rgb(8, 8, 33);
}

.logo {
  width: 180px;
  vertical-align: middle;
}

#recherche {
  font-size: small;
  height: 30px;
  width: 200px;
  display: flex;
  align-self: center;
  margin-right: 10px;
}

#recherche:focus-visible {
  outline: none;
  box-shadow: 0 0 15px 5px rgba(220, 20, 60, 0.6);
  border-radius: 5px;
}

.offres .img-thumbnail {
  width: 250px;
}

nav a {
  font-weight: bold;
  color: rgb(240, 240, 240);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  color: #c70000;
  transform: scale(1.1);
}

.bg-gradient-films {
  background: linear-gradient(90deg, #3c096c, #2d0157, #13001d);
}

.bg-gradient-series {
  background: linear-gradient(90deg, #003566, #001022);
}

.bg-gradient-docu {
  background: linear-gradient(90deg, #580c00, #1d0b0b);
}

.bg-gradient-concerts {
  background: linear-gradient(90deg, #65157a, lch(15.51% 46.57 324.2), #210024);
}

.section-custom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
}

.section-custom h2 {
  color: #fff;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
}

.card {
  min-width: 250px;
  max-width: 250px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.card-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-info {
  padding: 10px;
}

.card-info h3 {
  margin: 5px 0;
  font-size: 1.2em;
  color: #333;
}

.card-info p {
  margin: 3px 0;
  font-size: 0.9em;
  color: #555;
}

.resume-container {
  margin-top: 10px;
  max-height: 150px;
  overflow: hidden;
}

.resume {
  font-size: 0.85em;
  color: #444;
}

.card-image {
  height: 280px;
}
